on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 1

    # The lamu kernel has no configfs MTP function. Prevent recovery from
    # replacing the working ADB gadget with an unavailable MTP gadget.
    setprop mtp.crash_check 1

# The proprietary lamu KeyMint/Gatekeeper services target the Android 16
# runtime. They cannot be linked by fox_12.1's Android 12 linker, so the
# synchronous resyncapex hook starts these services through the mounted
# system bootstrap linker before metadata decryption begins.
service lamu-mobicore /vendor/bin/mcDriverDaemon --P1 /mnt/vendor/persist/mcRegistry
    disabled
    user root
    group root system
    seclabel u:r:recovery:s0

service lamu-servicemanager16 /system_root/system/bin/bootstrap/linker64 /system_root/system/bin/servicemanager
    disabled
    user root
    group root
    seclabel u:r:recovery:s0
    setenv LD_LIBRARY_PATH /system_root/system/lib64:/vendor/lib64:/system_root/system/lib64/bootstrap

service lamu-keymint16 /system_root/system/bin/bootstrap/linker64 /vendor/bin/hw/android.hardware.security.keymint@3.0-service.trustonic
    disabled
    user root
    group root system
    seclabel u:r:recovery:s0
    setenv LD_LIBRARY_PATH /system_root/system/lib64:/vendor/lib64:/system_root/system/lib64/bootstrap

service lamu-gatekeeper16 /system_root/system/bin/bootstrap/linker64 /vendor/bin/hw/android.hardware.gatekeeper-service.trustonic
    disabled
    user root
    group root system
    seclabel u:r:recovery:s0
    setenv LD_LIBRARY_PATH /system_root/system/lib64:/vendor/lib64:/system_root/system/lib64/bootstrap

service lamu-gatekeeperd16 /system_root/system/bin/bootstrap/linker64 /system_root/system/bin/gatekeeperd /data/misc/gatekeeper
    disabled
    user system
    group system
    seclabel u:r:recovery:s0
    setenv LD_LIBRARY_PATH /system_root/system/lib64:/vendor/lib64:/apex/com.android.i18n/lib64:/system_root/system/lib64/bootstrap

service lamu-keystore16 /system_root/system/bin/bootstrap/linker64 /system_root/system/bin/keystore2 /tmp/misc/keystore
    disabled
    user root
    group root keystore readproc log
    seclabel u:r:recovery:s0
    setenv LD_LIBRARY_PATH /system_root/system/lib64:/vendor/lib64:/apex/com.android.i18n/lib64:/system_root/system/lib64/bootstrap

service lamu-vold16 /system_root/system/bin/bootstrap/linker64 /system_root/system/bin/vold --blkid_context=u:r:recovery:s0 --blkid_untrusted_context=u:r:recovery:s0 --fsck_context=u:r:recovery:s0 --fsck_untrusted_context=u:r:recovery:s0
    disabled
    user root
    group root system reserved_disk
    seclabel u:r:recovery:s0
    setenv LD_LIBRARY_PATH /system_root/system/lib64:/vendor/lib64:/apex/com.android.i18n/lib64:/system_root/system/lib64/bootstrap
